*{
    padding:0px;
    box-sizing:content-box;
    margin:0px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
    background-color:white;
}
#logo{
    height:60px;
    width:60px;
    border-radius:50px;
}
#cart_image{
    height:50px;
    width:50px;
}
#addtocart{
    position:absolute;
    bottom:0;
}
.submenu{
    list-style: none;
    width:50%;
}
.submenu #cart{
    display:none;
    background-color: white;
    height:400px;
    width:300px;
    padding:20px;
    border: 1px grey solid;
    z-index:9999;
}
.submenu:hover #cart{
    display:block;
    right:0px;
    position:absolute;
}
#online_courses{
    text-align:center;
    margin-top:40px;
}
#courseimage{
    width:100%;
}
#previouscost{
    text-decoration:line-through;
    color:red;
}
#currentcost{
    color:green;
    float:right;
}
.card-item{
    border:1px grey solid;
    background-color: whitesmoke;
    box-shadow: 2px 14px 28px #444444;  

}

.courses_container{
    display:grid;
    grid-gap:75px;
    margin: 0 auto;
    max-width:1080px;
}
.course_info{
    position:relative;
    height: 130px;
    padding:16px;
    margin-bottom:10px;
}
.course_info h3{
    font-size:16px;
    font-weight:700;
}
.header123{
    margin-top:20px;
}
.add-cart{
    background-color: #00B2BD;
    color:white;
    border-radius:2px;
    padding: 5px 10px;
    font-size:0.8em;
    font-weight:bold;
    position:absolute;
    bottom:0;
    text-decoration: none;
}
.add-cart:hover{
    background-color: #00828a;
    color:white;
    cursor:pointer;
    text-decoration: none;
}

@media (min-width:472px) and (max-width:767px){
    .courses_container{
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width:758px){
    .courses_container{
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media all and (min-width: 949px){
    .courses_container{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

